div {
    border: 1px solid green;
}

body {
    text-align: center;
}

p {
    font-size: 2em;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}

.grid-builder {
    width: 100%;
}

.color-picker {
    width: 100%;
}

.table-name{
    width: 100%;
}

.grid-cell {
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 15px;
    width: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

.cell-last{
    border-right: 1px solid black;
}

.row-last{
    border-bottom: 1px solid black;
}
.grid-row{
    margin: 0 auto;
    min-width: 12px;
    
    display: flex;
    justify-content: center;
    
}


